* {
	box-sizing: border-box;
}

html, body {
	height: 100vh;
	margin: 0;
	padding: 0;
	background: #0a0a23;
	color: white;
	font-family: monospace;
}

body, .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.container {
	border: 2px solid white;
	padding: 16px;
}

ul {
	padding: 0;
	list-style-type: none;
	display: flex;
	gap: 10px;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 32px;
	font-weight: 900;
}

p {
	font-size: 18px;
	font-weight: 700;
}

h1, p, ul, li{
	display: flex;
	flex-wrap: wrap;
}
	
span {
	color: white;
	padding: 16px;
}
	
span:hover {
		color: blue;
}

.container span {
	align-self: flex-start;
	margin-bottom: 0;
}

@media screen and (max-width: 980px) {
	body, .container {
		
	}
	
	.container {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	
	ul {
		flex-direction: row;
	}
}