<footer>
		<div class="subscribe">
		<form action="https://tinyletter.com/fideldemoz" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/fideldemoz', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
		<p><label for="tlemail">Become the first to read my blogs.</label></p>
		<p><input type="text" name="email" id="tlemail" /></p>
		<input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" />
		</form>
		
		<ul>
			<li><a href="https://www.facebook.com/fidel.livino"><i class="fa-brands fa-facebook fa-2x"></i></a></li>
			<li><a href="https://www.github.com/fideldemoz"><i class="fa-brands fa-github fa-2x"></i></a></li>
			<li><a href="https://wa.me/258846861051"><i class="fa-brands fa-whatsapp fa-2x"></i></a></li>
			<li><a href="mailto:fidellplivino98@gmail.com"><i class="fa-sharp fa-regular fa-envelope fa-2x"></i></a></li>
		</ul>
		</div>
		<p class="credits"><a href="https://www.github.com/fideldemoz/">Fidel Livino Pedro</a>
		 &mdash; <span class="year">&copy; </span></p>
		<script type="text/javascript">
		const span = document.querySelector(".year");
		span.textContent += new Date().getFullYear();
		</script>
</footer>