/* SCSS HSL */
$red-pantone: hsla(355, 78%, 56%, 1);
$honeydew: hsla(105, 55%, 96%, 1);
$non-photo-blue: hsla(182, 43%, 76%, 1);
$cerulean: hsla(203, 39%, 44%, 1);
$berkeley-blue: hsla(215, 50%, 23%, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
$gradient-right: linear-gradient(90deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
$gradient-bottom: linear-gradient(180deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
$gradient-left: linear-gradient(270deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
$gradient-top-right: linear-gradient(45deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
$gradient-bottom-right: linear-gradient(135deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
$gradient-top-left: linear-gradient(225deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
$gradient-bottom-left: linear-gradient(315deg, #e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);
$gradient-radial: radial-gradient(#e63946ff, #f1faeeff, #a8dadcff, #457b9dff, #1d3557ff);

/* Media queries */
$small-max: 479px;
$medium-min:  599px;
$medium-max: 767px;
$large-min:  1024px;

* {
	font-family: sans-serif;
	box-sizing: border-box;
}

a {
	color: $cerulean;
	text-decoration: none;
	font-weight: 500;
}

p {
	color: $berkeley-blue;
	font-size: 18px;
	line-height: 1.5;
	margin-top: 1.5rem;
	font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: $red-pantone;
	font-size: 2rem;
	font-family: 'Poiret One', cursive;
	line-height: 1.5;
}

img[alt="profile-picture"] {
	width: 60px;
	border-radius: 360px;
}

body {
margin: 0;
	width: auto;
	background-color: $honeydew;
	
	header {
		display: flex;
		justify-content: space-between;
		height: 72px;
		align-items: center;
		background-color: $non-photo-blue;
		padding: 0 1rem;
		a:hover {
			border-bottom: 2px solid $red-pantone;
		}
	}
	main {
		padding: 0 1rem;
		
		a {
			text-decoration: underline 2px;
  		text-underline-position: under;
  		transition: margin-left 0.2s ease-in-out;
		}
		a:hover {
			margin-left: 1rem;
		}
		blockquote {
			background-color: $cerulean;
			color: $red-pantone;
			padding-block-start: 1em;
    	padding-block-end: 1em;
    	padding-inline-start: 40px;
    	padding-inline-end: 40px;
    	border-left: 0.25rem solid $red-pantone;
			p {
				color: white;
			}
			}
	}
	footer {
		display: flex;
		align-items: stretch;
		flex-direction: column;
		background-color: $non-photo-blue;
		padding: 0 1rem;
		height: auto;
		.subscribe {
			justify-content: space-between;
			display: flex;
			align-items: stretch;
			
			input[name="email"] {
				width: 300px;
				height: 30px;
				border: 1px solid grey;
				border-radius: 2px;
			}
			input[type="submit"] {
				width: auto;
				padding: 4px;
				border: 1px solid grey;
				border-radius: 4px;
			}
			@media (max-width: $medium-max) {
				flex-direction: column;
			}
		}
		ul {
			list-style-type: none;
			display: flex;
			gap: 2rem;
			align-self: flex-start;
		}
		li {
			transition: margin-top 0.2s ease-in-out;
		}
		li:hover {
			margin-top: 1rem;
		}
		p.credits {
			display: flex;
			align-self: center;
		} 
	}

	@media (max-width: $small-max) {
		footer, header, main {
			padding: 0 1rem;
		}
		.blogs {
			flex-direction: column;
			gap: 1px;
		}
	}
	@media (min-width: $medium-min) and (max-width: $medium-max) {
		footer, header, main {
			padding: 0 4rem;
		}
		.blogs {
			flex-direction: column;
			gap: 2px;
		}
	}
	@media (min-width: $large-min) {
		footer, header, main {
			padding: 0 8rem;
		}
	}
}

.blog_li {
	margin: 0;
  padding: 0;
	li {
		list-style-type: none;
		display: flex;
		gap: 6px;
		justify-content: space-between;
		align-items: flex-end;
	}
	a {
		text-decoration: none;
		transition: margin-left 0.2s ease-in-out;
	}
	a:hover {
		margin-left: 2rem;
	}
}

nav {
	list-style: none;
	display: flex;
	gap: 16px;
}

.current {
border-bottom: 2px solid $red-pantone;
}

.blogs {
	display: flex;
	gap: 6px;
	justify-content: space-between;
	align-items: center;
	p, h2 {
		margin: 4px 0 8px 0;
	}
	a.toright {
		text-decoration: none;
		transition: margin-right 0.2s ease-in-out;
	}
	a:hover {
		margin-right: 2rem;
	}
}